.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1200px;
  }

  .app-header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 10px; 
  }

  .pokemon-logo {
    width: 400px; 
    margin-bottom: 0px; 
  }