$primary-color: #0096d2;
$secondary-color: #78c850;
$accent-color: #ffa500;
$background-color: #f8f9fa;
$text-color: #333;

$font-family: 'Arial, sans-serif';
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

$light: #ffffff; // Asegúrate de tener esta variable
$black: #1c0d02;

$border-radius: 10px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
