$primary-color: #36c3fb;
$secondary-color: #78c850;
$accent-color: #ffa500;
$background-color: #3466AF;
$text-color: #333;

$fuente: 'Verdana, sans-serif';
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

$light: #ffffff; 
$black: #1c0d02;

$border-radius: 5px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
